# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment
env/
venv/

# Ignore environment variables file
.env

# Ignore all log files
*.log

# Ignore compiled Python files
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Podman specific files
podman-compose-generated-network/

# Ignore database and backups
*.db
*.sql
*.sqlite3
*.dump

# Ignore IDE-specific files
.idea/
.vscode/
*.swp

# Ignore the .git folder and its contents
.git/
